*{
    margin: 0px;
    padding: 0px;
}
nav{
    width: 100%;
    height: 30px;
    background-color: azure;
    box-shadow: 0px 4px 20px;
    position: fixed;
    align-self: flex-start;
}
nav>ul{
    margin: 6px 0px 0px 0px;
    list-style: none;
    display: flex;
    justify-content: space-around
}
body{
    background-color: rgb(145, 15, 15);
    width: 100%;
    height: 97vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
div{
   text-align: center;
}
div>h1{
    margin-bottom: 10px;
    padding: 4px;
    border-radius: 20px;
    color: white;
    background-color: black;
}
div>button{
    font-size: 20px;
    background-color: transparent;
    border: 1px solid white;
    padding: 3px;
    border-radius: 20px;
}

nav>ul>li:hover:not(li:nth-child(1)){
    border-radius: 20px;
    padding: 3px;
    background-color: red;
}